<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <!-- 
      This file is automatically created when you run ip4.
      
      ip4 is compatible with .Net v2.0, but 4.0 is better as provides 
      the masks of adapters when they are down. 
      -->
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>